@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&family=Montserrat:wght@300;700;900&display=swap');

body {
    background-color: #F8F8F2;
}

body, p {
  margin: 0;
  padding: 0;
}

body > div {
  background-color: #f8f8f2;
}